*.swp
*.old
*.csr
*/*.dSYM/
.DS_Store
CMakeCache.txt
CMakeFiles/
Makefile
build/
cmake_install.cmake
xcuserdata
*.xccheckout
!include/h2o
misc/test-ca/demoCA/newcerts/*.pem
tmp/
wrk/paths.txt
include/git-revision.h
core
h2o
h2o-tile
h2o-tile-proxy
yield-tiles
yield-tile-urls
libh2o.a
wrk/results*.txt
